{% extends 'layouts/base.html.twig' %}

{% block title %}BabyHouse wishlist{% endblock %}

{% block body %}
<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{{ path('app.home') }}">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{{ path('wish_list') }}">Wish list</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
			
<!-- Shopping Cart -->
<div class="shopping-cart section">
		<div class="container">
		{% if products | length > 0  %}
            <h5 class='text-center mb-4 fw-light'>Your favorite products are listed here</h5>
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
						{% for key,product in products %}
							<tr>
								<td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="{{ path('product.show',{'id':product.id}) }}">{{ product.title }}</a></p>
									<p class="product-des">{{ product.description }}</p>
								</td>
								<td class="price" data-title="Price"><span>${{ product.prix }}</span></td>
								<td class="action" data-title="Remove"><a href="{{ path('wish_list_toggle',{'id':product.id}) }}" class="js-remove"><i class="ti-trash remove-icon"></i></a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									{# <div class="coupon">
										<form action="#" target="_blank">
											<input name="Coupon" placeholder="Enter Your Coupon">
											<button class="btn">Apply</button>
										</form>
									</div>
									<div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
									</div> #}
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		{% else %}
			<hr>
        	<p><b>Your wishlist is empty</b></p>	
		{% endif %}
		</div>
	</div>
{% endblock %}
