  <!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
								<li><i class="ti-email"></i> support@shophub.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i> Store location</li>
								<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
								{% if not app.user %}
									<li><i class="ti-user"></i> <a href="{{ path('app_register') }}">Registring</a></li>
									<li><i class="ti-power-off"></i><a href="{{ path('app_login') }}">Login</a></li>
								{% else %}
									<li><i class="ti-unlock"></i> <a href="{{ path('app_logout') }}">Logout</a></li>
								{% endif %}
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="{{path('app.home')}}"><h3>BabyHouse</h3></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								 <form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form> 
								
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						{% if currentPath is same as("/")  %}
							<div class="search-bar-top">
								<div class="search-bar">
								{{ form_start(search_form) }}
									<div class="row">
										<div class="col-md-6">
											{{ form_row(search_form.category) }}
										</div>
										<div class="col-md-6">
											{{ form_row(search_form.title) }}
										</div>
										<button class="btnn"><i class="ti-search"></i></button>
									</div>
								{{ form_end(search_form) }}
								</div>
							</div>
						{% endif %}
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						{% if app.user %}
							<div class="right-bar">
								<!-- Search Form -->
								<div class="sinlge-bar">
									<a href="{{ path('wish_list') }}" class="single-icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar">
									<a href="{{ path('account') }}" class="single-icon"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar shopping">
									<a href="{{ path('cart') }}" class="single-icon"><i class="ti-shopping-cart"></i>{# <span class="total-count js-cart-count">{{ cart_data | length }}</span>#}</a> 
									<!-- Shopping Item -->
									{# <div class="shopping-item">
										<div class="dropdown-cart-header">
											<span>{{ cart_data | length }} Items</span>
											<a href="{{ path('cart') }}">View Cart</a>
										</div>
										<ul class="shopping-list">
											{% for item in cart_data %}
												<li>
													<a href="{{ path('cart.remove',{'id':item.product.id}) }}" class="remove js-remove" title="Remove this item"><i class="fa fa-trash-alt"></i></a>
													<a class="cart-img" href="#"><img src="{{ vich_uploader_asset(item.product,'imageFile') }}" alt="#"></a>
													<h4><a href="#">{{ item.product.title }}</a></h4>
													<p class="quantity">{{ item.quantity }}x - <span class="amount">${{ item.product.prix }}</span></p>
												</li>
											{% endfor %}
										</ul>
										<div class="bottom">
											<div class="total">
												<span>Total</span>
												<span class="total-amount">$134.00</span>
											</div>
											<a href="{{ path('cart.checkout') }}" class="btn animate">Checkout</a>
										</div>
									</div> #}
									<!--/ End Shopping Item -->
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
					{% if currentPath == "/" %}
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
								<ul class="main-category">
									{% for category in categories %}
										<li><a href="?category={{ category.id }}">{{ category.label }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href=" {{path('app.home')}} ">Home</a></li>
													{# <li><a href="#">Product</a></li>												 #}
													<li><a href="#">Service</a></li>
													{# <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="{{ path('product.shop') }}">Shop Grid</a></li>
															<li><a href="{{ path('cart') }}">Cart</a></li>
															<li><a href="{{ path('cart.checkout') }}">Checkout</a></li>
														</ul>
													</li> #}
													<li><a href="{{ path('product.shop') }}">Shop</a></li>
													{# <li><a href="#">Pages</a></li>									 #}
													<li><a href="#">Blog<i class="ti-angle-down disable"></i></a>
														<ul class="dropdown">
															<li><a href="#">Blog Single Sidebar</a></li>
														</ul>
													</li>
													<li><a href="#">Contact Us</a></li>
												</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->