												<div class="single-product">
													<div class="product-img">
														<a href="{{ path('product.show',{'id': product.id } ) }}">
															<img class="default-img" src="{{ vich_uploader_asset(product,'imageFile') }}" alt="#">
															<img class="hover-img" src="{{ vich_uploader_asset(product,'imageFile') }}" alt="#">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#testModal{{ product.id }}" title="Quick View" href="#" ><i class=" ti-eye"></i><span>Quick Shop</span></a>
																{% if product.id in wishlist_ids %}
																	<a title="Wishlist"  href="{{ path('wish_list_add',{'id': product.id} ) }}"  class="js-remove-wishlist"><i class="ti-heart-broken"></i> <span>Remove from the wishlist</span></a>
																{% else %}
																	<a title="Wishlist"  href="{{ path('wish_list_add',{'id': product.id} ) }}"  class="js-add-wishlist"><i class="ti-heart"></i> <span>Add to wishlist</span></a>
																{% endif %}
																{# <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a> #}
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="{{ path('cart.add',{'id': product.id,'quantity': 1 } ) }}" class="js-add"><span>Add to cart</span></a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ product.title }}</a></h3>
														<div class="product-price">
															<span>${{ product.prix }}</span>
														</div>
													</div>
												</div>